@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
.head-text {
    position: relative;
}
.text-on-image {
    opacity: 0.4;
    position: absolute;
    right: 85%;
    left: 25%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    width: 100%;
    text-align: center;
    letter-spacing: 10px;
}
a:hover {
    cursor: pointer;
}
